[run]
source = user_profile
omit =
    */tests/*
    budidayaplus/urls.py
    manage.py
    */migrations/*
    */admin.py
    */apps.py
    */wsgi.py
    */asgi.py
    */settings.py
    */__init__.py
    */tests.py
    */threshold/*
    */pond/*
    */pond_quality/*
    */fish_sampling/*
    */food_sampling/*
    */tasks/*
    */cycle/*
    */threshold/*

[report]
omit =
    */tests/*
    budidayaplus/urls.py
    manage.py
    */migrations/*
    */admin.py
    */apps.py
    */wsgi.py
    */asgi.py
    */settings.py
    */__init__.py
    */tests.py
    */pond/*
    */pond_quality/*
    */fish_sampling/*
    */food_sampling/*
    */tasks/*
    */cycle/*
    */threshold/*
